<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
       
           <form action="/login1/denys/<%=name1%>" method="post">
           <div class="w-full sm:w-half formbold-px-3">
             <div class="formbold-mb-5">
               <label for="time" class="formbold-form-label">Reason for Denying</label>
                <input
                type="text"
                name="status"
              id="time"
              placeholder="type reason here..."
                 class="formbold-form-input"
     />
   </div>
 </div>
 <input class="formBtn" type="submit" />
</form>

</body>
</html>